@page
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

	<title>Sign In</title>

	<link href="~/assets/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							
							<p class="lead">
								Sign in to your account to continue
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									
									<form id="account" method="post">
                                        <h2>Use a local account to log in.</h2>
                                        <hr />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
										<br />
                                        <div class="form-floating">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                            <label asp-for="Input.Password" class="form-label"></label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
										<br />
                                        <div>
                                            <div class="checkbox">
                                                <label asp-for="Input.RememberMe" class="form-label">
                                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                </label>
                                            </div>
                                        </div>
										<br />
                                        <div>
                                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                                        </div>
                                        <div>
                                            <p>
                                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                            </p>
                                            <p>
                                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                            </p>
                                            <p>
                                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                            </p>
                                        </div>
                                    </form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="~/assets/js/app.js"></script>

</body>

</html>





